body{
background: url("img.jpg") no-repeat center center fixed;
background-size:cover;
}
.box{
 
  max-width: 25%;
  padding-top: 130px;
}
.bck{
  /* margin: 190px; */

max-width: 100%;
padding: 10px;
opacity: 0.85;
background-color:white;
color: rgb(0, 41, 102);

}
.pg{

  text-align: left;
  margin-top: auto;

}
.txt{
  outline: 0;
  border-style: hidden;
  border-bottom-style: groove;

  width: 90%;
}
.btn{
  opacity: 1;
  z-index: 1;
}
