
.card{

  width: 27rem;
  height: 20rem;
background-color: #f0f5f5;
  text-align: center;
  font-family: serif;
}

.space{
  margin: 2rem;

}
.down{

  height: 110px;
  width: 81rem;
  margin-left: 138px;
padding: 10px;
  background-color: #ffffff;
}
.c{
  margin-left: 50rem;
  margin-top:0rem;
}
.heading{
  font-weight: bold;
  font-family: sans-serif;


}
.place{
  margin-left: 100px;
}
.cls{
  background-color:#e1eaea;
}
.elem{
  margin-top: 1px;
}
