body{


background-image:url("im.jpg");

}
.field{
  padding: 9px;
  border-radius: 25px;;
  color: black;
 background-color: rgb(242, 242, 242);
 border-left-color: blue;
}

.bg-img{
  padding: 30px;

width: 40%;
text-align: left;
font-size: 20px;
font-style: italic;

}
.tf{
   outline: 0;
  margin: 20px;
  width: 96%;
  height: 20px;
  border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
    border-bottom-color: coral;
    background-color: Transparent
}
/* .tf:focus {
  ~ .x {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;
  }
  padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
  } */
